
.listPokemon {
  display: flex;
  flex-wrap: wrap;
  float: left;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  width: 70%;
  height: auto;
  padding-left: 10px;
  margin: auto;
  /*border: 1px solid red;*/
}

.rightBar {
  display: inline-block;
  position: fixed;
  right: 25px;
  width: 25%;
  min-width: 250px;
  height: 600px;
  /*border: 1px solid red;*/
}

.tile {
  margin: 20px;
  width: 100px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;
}

.tile:hover {
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.loadMore {
width: 100%;
margin: 20px;
text-align: center;
}

.btn {
  padding: 15px 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(66, 184, 221);
  border-radius: 7px;
}

.filter {
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.listFilter {
  text-align: left;
  column-count: 3;
}


.type {
  display: inline-block;
  margin: 1px 3px;
  padding: 2px;
  background-color: #728acc;
  color: white;
  border-radius: 5px;
  word-wrap: normal;
}

.detail {
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  margin: 2px;
  padding-bottom: 1px;
}

table tr td {
  border: 2px solid grey;

}

td {
  padding: 4px;
  width: 50px;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto 10px auto;
  width: 80%;
}

fieldset {
  border: none;
}
